:root {
  --background-color-primary: #c9c9c9;
  --background-color-secondary: #7d14be;
  --text-color-primary: #ffffff;
  --text-color-secondary: #303030;
  --link-color: #dda7ff;
  --link-color--clicked: #dda7ff;

  --font-family-head: 'Exo 2', sans-serif;
  --font-family-body: 'Roboto', sans-serif;
}

header{
    color:#19010f;
    background-color: #9400d3;
    text-align: center;
    padding: 15px;
    /*background-image: url("../Images/bg7.jpg");
    background-size:30%*/
    font-weight: bold;
    background-color: #ff00a5;
    font-family: var(  --font-family-head);
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header h1, .header h3 {
    margin: 0;
}
.header h1{
    font-size: 3em;
}

h2{
    color: #ff00a5;
    font-family: var(  --font-family-head);
}

body{
    background-color: var(--background-color-primary);
    color: var(--text-color-primary);
    text-align: left;
    background-image: url("../Images/bg2.jpg");
    background-size: cover;
    font-family: var(  --font-family-body);
}
section, footer{
    width: clamp(250px, 70vw, 1000px);
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}
footer {
    display: flex;
    flex-direction: row;
}
.source{
   padding: 10px;
}
.source ul{
    list-style-type: none;
    padding-left: 0;
}
a{
    color: var(--link-color);
}
/*
section:nth-child(even){
    background-color: var(--background-color-secondary);
    color: var(--text-color-secondary);
}
/*

:root {
  --background-color-primary: #c9c9c9;
  --background-color-secondary: #7d14be;
  --text-color-primary: #ffffff;
  --text-color-secondary: #303030;

  --font-family-body: 'Exo 2', sans-serif;
  --font-family-monospace: "VT323", "Courier New", Courier, monospace;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px; /* Optional: Add padding for better visual appeal 
}*/


