:root {
    --background-color-primary: #c9c9c9;
    --background-color-secondary: #7d14be;
    --text-color-primary: #ffffff;
    --text-color-secondary: #303030;
    --link-color: #dda7ff;
    --link-color--clicked: #dda7ff;
  
    --font-family-head: 'Exo 2', sans-serif;
    --font-family-body: 'Roboto', sans-serif;
  }
  
  header{
      color:#19010f;
      background-color: #9400d3;
      text-align: center;
      padding: 15px;
      font-weight: bold;
      background-color: #ff00a5;
      font-family: var(  --font-family-head);
  }
  .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  .header h1, .header h3 {
      margin: 0;
  }
  .header h1{
      font-size: 3em;
  }
  
  h2{
      color: #ff00a5;
      font-family: var(  --font-family-head);
  }
  
  body{
    margin: 0px;
      background-color: var(--background-color-primary);
      color: var(--text-color-primary);
      text-align: left;
      background-image: url("../Images/bg2.jpg");
      background-size: cover;
      font-family: var(  --font-family-body);
  }
  section, footer{
      width: clamp(250px, 70vw, 1000px);
      padding: 10px;
      margin-left: auto;
      margin-right: auto;
  }
  footer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 10px;
}

.source {
    padding: 10px;
    width: 100%;
}

.source ul {
    list-style-type: none;
    padding-left: 0;
}

a {
    color: var(--link-color);
}
a:visited{
    color:var(--link-color--clicked);
}
a:hover{
    color:var(--text-color-primary);
}
