:root {
  --background-color-primary: #c9c9c9;
  --background-color-secondary: #7d14be;
  --text-color-primary: #ffffff;
  --text-color-secondary: #303030;

  --font-family-body: Helvetica, Arial, sans-serif;
  --font-family-monospace: "VT323", "Courier New", Courier, monospace;
}

header{
    color:#ffffff;
    background-color: #9400d3;
    text-align: center;
    padding: 15px;
    background-image: url("../Images/bg4.jpg");
}
body{
    background-color: var(--background-color-primary);
    color: var(--text-color-primary);
    text-align: left;
    background-image: url("../Images/bg2.png");
    background-repeat: repeat;
}
section, footer{
    width: clamp(250px, 70vw, 1000px);
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}
/*
section:nth-child(even){
    background-color: var(--background-color-secondary);
    color: var(--text-color-secondary);
}
/*

