body .bg {
    padding: 15px;
    padding-bottom: 200px;
    margin-bottom: 25px;
}
body .normal-background {
    background-image: url("./backgroundImages.jpg");
    background-size: 70%;
}
body .size-background {
    background-image: url("./backgroundImages.jpg");
    background-size: 120%;
}
body .repeating-background {
    background-image: url("./backgroundImagesBorder.jpg");
    background-repeat: repeat;
    background-size: 30%;
}
body .fixed-background {
    background-image: url("./backgroundImages.jpg");
    background-attachment: fixed;
    background-size: 70%;
}
