:root {
    --background-color-primary: #c9c9c9;
    --background-color-secondary: #b825c0;
    --text-color-primary: #ffffff;
    --text-color-secondary: #303030;
    --link-color: #dd55ff;
    --link-color--clicked: #dda7ff;

    --font-family-head: 'Exo 2', sans-serif;
    --font-family-body: 'Roboto', sans-serif;
}


header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    padding: 10px 0;
    color: #19010f;
    text-align: center;
    font-weight: bold;
    background-color: #ff00a5;
    font-family: var(--font-family-head);
}

body .first-section {
    margin-top: 40px;
    padding-top: 60px;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1,
.header h3 {
    margin: 0;
}

.header h1 {
    font-size: 3em;
}

h2 {
    color: #ff00a5;
    font-family: var(--font-family-head);
}

.header h1 a.nav-link {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.header h1 a.nav-link:hover {
    color: var(--text-color-primary);
}

.header div {
    display: flex;
    align-items: center;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: var(--background-color-primary);
    color: var(--text-color-primary);
    text-align: left;
    background-color: #19010f;
    background-image: url("./Background.jpg");
    background-size: cover;
    font-family: var(--font-family-body);
    font-size: 1.25em;
}
button {
    padding: 10px 15px;
    font-size: 1em;
    background-color: var(--background-color-secondary);
    color: var(--text-color-primary);
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    background-color: var(--text-color-primary);
    color: var(--background-color-secondary);
}

section,
footer {
    width: clamp(250px, 70vw, 2000px);
    /*2000 to fit for 4k screens*/
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

footer {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-gap: 10px;
}

.source {
    padding: 10px;
    width: 100%;
}

.source ul {
    list-style-type: none;
    padding-left: 0;
}

a {
    color: var(--link-color);

}

a:visited {
    color: var(--link-color--clicked);
}

a:hover {
    color: var(--text-color-primary);
}


code,
.code-block {
    background-color: #311726;
    color: #fff;
    border: 1px solid #5e4c5e;
    padding: 2px 5px;
    border-radius: 3px;
    font-family: 'Courier New', Courier, monospace;
}
.code-block {
    max-width: 300px;
}


@media screen and (min-width:1100px) {
    footer {
        grid-template-columns: repeat(6, 2fr);
    }
}

@media screen and (max-width:500px) {
    footer {
        grid-template-columns: repeat(2, 3fr);
    }
}